	body{
		margin: 40px;
		font-family: arial, sans-serif;
	}
/*
The style is CSS Grid system 
The wrapper could be divided as layout based on 960px (320 , 640) or rule of third
 */
	.wrapper {
		display: grid;
		grid-gap: 15px;
		grid-template-columns: 320px  320px  320px; 
		grid-template-areas:
		"header header  header"
		"sidebar content content"
		"footer footer footer";
		
	}
	.box {
		background-color: #444;
		color: #fff;
	}
	.sidebar {
		grid-area: sidebar;
	}

	.content {
		grid-area: content;
	}

	.header {
		grid-area: header;
	}
	.footer{
		grid-area:footer;
	}
/* SideBar */
#content{
border-style: solid;
}
#leftList {

}
#RightList{

}

form{
	display: table;
}
p{
display: table-row;
}
label{
	display: table-cell;
}
input{
	display: table-cell;
}
#form{
	padding: 40px;
	width: 100%;
	height: 100%;
	clear: both;
}
#submit{
	margin-top: 20px;
}

.input{
	padding-bottom: 10px;
	margin-left:20px;
	margin-top:10px;  
	
}

#select{
width: 100%;
height: 620px;
margin-bottom:10px

}

#select_wrapper{
height: 20px;
width: 460px;
background:grey;
margin-left: auto;
margin-right: auto;
opacity: 0.7;
filter:alpha(opacity=70);/* IE8 earlier */
}

#select_wrapper ul h4{
	display: inline;
}

#select_wrapper ul li{
	list-style: none;
	display: inline;
	font-weight: bold;
	padding: 5px;

}
#select_wrapper ul{
		margin-top: 5px;
}
#select_wrapper a{
	text-decoration: none;
	color: #babbbc;
	margin-top: 20px;

}


#nav_wrapper ul li:hover{
	background: #FA0838;
	transition: all 0.5s;

opacity: 0.7;
filter:alpha(opacity=70);/* IE8 earlier */

}
